.example-spacer {

   font-size: 50px;
   color: white;
   flex: 1 1 auto;

}
table {
  width: 100%;
}
.container{
  background-image: url('/assets/images/79a18fff-1aeb-4a12-9340-db81b383b5e7.png');
}